name: Workflow

on:
  push:
    branches: [ main ]

jobs:

  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: build
        env:
          TMDB_API_KEY: ${{ secrets.TMDB_API_KEY }}
        run: npm i && npm run build
